extends base

block append head
    link(rel="stylesheet" href="/css/login.css")

block content
    main.main
        .forgot-password-form
            h2.heading-secondary.ma-bt-lg Submit Your email address
            form.form.form--forgot-password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.flex
                    button.btn.btn--green Forget Password
                    a.sign-up-link(href="/sign-up") Don't have an account