extends base

block append head
    link(rel="stylesheet" href="/css/login.css")

block content
    main.main
        .reset-password-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form.form--reset-password
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                input(type="hidden" value= token name= "token")                    
                .form__group.flex
                    button.btn.btn--green Reset Password